<html>
	<body style="background-color: #c0c0c0;">		
		<center>
		<table style="background-color: #ffffff;"">
			<tr>
				<td width="70%" colspan="2">
					<h1>
						Your API has a new follower!
					</h1>
				</td>
			</tr>
			<tr>
				<td>
					<img src="<%=@photo%>" width="200">
				</td>
				<td>
					<p>Hi <%=@to.capitalize rescue ""%>,</p>
					
					<p><%=@from.capitalize rescue ""%> is now following your API on APIS.io! You can see what other APIs they are following at: http://apis.io/users/<%=@to.downcase rescue ""%></p>
					
					<p>Regards,<br />
					APIS.io</p>
				</td>
			</tr>
		</table>
		</center>
		
	</body>
</html>
