<p id="notice"><%= notice %></p>

<div class="hero-unit">
<h1>Saved API Explorer API Calls</h1><br />

<div id="output">
	<div class="row">
		<div class="span6">
			<h2>Request</h2>
			<div id="apirequest"><pre class="prettyprint linenums"><code><%= raw(@explorer.apirequest) %></code></pre></div>
		</div>
		<div class="span6">
			<h2>Response</h2>
			<div id="apiresponse"><pre class="prettyprint linenums"><code><%= raw(@explorer.apiresponse) %></code></pre></div>
		</div>
	</div>
</div>

</div>

<%= link_to 'Back', explorers_path %>
