<div class="hero-unit">
  <h1><%=image_tag "apisio_avatar.png"%>bout Us</h1><br />
  <p>
    APIS.io is an open source API directory, discovery engine, and experimentation tool.  Our service is still under development but you can contribute
    at <a href="http://github.com/apisio/apisio">http://github.com/apisio/apisio</a>!  
  </p>
  <p>
    Our goal is to create an API directory or marketplace that is open for anyone to register their APIs as well as discover, document, and interact with available APIs. Our features include:
  </p>
  <br />
<ul>
  <li><p><b>API Directory</b> of REST APIs allowing developers to discover, document, and interact with APIs and list mashups using them.</p></li>
<br />
  <li><p><b>API Explorer</b> for interacting with REST APIs. Saving requests and responses to share with other developers.</p></li>
  <br />

  <li><p><b>API Configurator</b> that allows you to import and export WADL definitions as well as create APIs through our realtime user interface. </p></li>
</ul>

<br />    
<p>
<a href="https://twitter.com/apisio" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @apisio</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://apis.io" data-text="Check out @apisio, the opensource API directory and explorer" data-size="large" data-hashtags="API">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</p>
</div>
