<br /><br /><br />
<div class="hero-unit">
  <h1><%=image_tag "apisio_avatar.png"%>bout Us</h1><br />
  <p>
    APIS.io is an open source API directory, discovery engine, and experimenter tool.  Our service is still under development but you can contribute
    at <a href="http://github.com/apisio/apisio">http://github.com/apisio/apisio</a>!  
  </p>
  <p>
    Our goal is to create an API directory that is open for everyone to register their APIs and  work like a mashup of the following services:
  </p>
  <br />
<ul>
  <li>Programmable Web - Directory of REST APIs allowing developers to discover and rate APIs and list mashups using them.</li>
<br />
  <li>Apigee / <a href="http://hurl.it">HURL</a> - API Explorer for interacting with REST APIs. Saving requests and responses to share with other developers.</li>
  <br />

  <li>API Configurator (new service) - Apigee uses WADL files to define an API’s behavior. 
    We should also support WADL files but add a UI for defining APIs online with the ability to export WADL files. 
    (Interesting project: <a href="http://tomayac.de/rest-describe/latest/RestDescribe.html">http://tomayac.de/rest-describe/latest/RestDescribe.html</a>)</li>
</ul>
    

</div>
