
<div class="hero-unit">
   <h1>OpenSource API Directory</h1>
   <br />
   <img src="/assets/applications-gears.png" align="right" width="250" />
   <!img src="/assets/gears.png" align="right" width="250" />
   <!-- <p>
   	Welcome APIs.io!
      </p> -->
   <br />
   <p>
	APIs.io is an open source and free API registry service that allows 
	developers to publish and discover REST APIs and interact with them online.	
   </p>
	<p>
		APIs.io === (ProgrammableWeb + Apigee + Mashery) * OpenSource
	</p>
   <br />
   <center><div id="reqbutton" class="btn btn-success  btn-large">
      <img src="/assets/github-icon.png"> Login with GitHub 
   </div></center>

	<script type="text/javascript">
      $('#reqbutton').click(function() {
              window.location.replace("/auth/github");
            });
	</script>
	
</div>


<br />