<div class="hero-unit">
   <center><h1>OpenSource API Directory</h1></center>
   <br />
  <div id="videobutton">
     <img src="/assets/apisio_video.jpg" align="right" width="350" style="padding:20px;"/>
  </div>
   <!img src="/assets/gears.png" align="right" width="250" />
   <!-- <p>
     Welcome APIs.io!
      </p> -->
   <br />
   <p>
  APIS.io is an open source and free API registry service that allows 
  developers to publish and discover REST APIs and interact with them online.  
   </p>
   <br /><br />
   <center>
  <div id="reqbutton" class="btn btn-success  btn-large">
      <img src="/assets/github-icon.png"> Login with GitHub 
     </div>
  </center><br />

  <script type="text/javascript">
    $('#reqbutton').click(function() {
      window.location.replace("/auth/github");
    });
    $('#videobutton').click(function() {
      // window.location.href = 'http://www.youtube.com/watch?v=jwsP1Ejv-_w';
      $.fancybox({
        'padding'    : 0,
        'autoScale'    : false,
        'transitionIn'  : 'elastic',
        'transitionOut'  : 'none',
        'title'      : this.title,
        'width'      : 680,
        'height'    : 495,
        'href'      : 'http://www.youtube.com/watch?v=RfnvuzniCNs&hd=1&feature=player_embedded#at=41'.replace(new RegExp("watch\\?v=", "i"), 'v/'),
        'type'      : 'swf',
        'swf'      : {
        'wmode'      : 'transparent',
        'allowfullscreen'  : 'true'
        }
      });
    });
  </script>
  
</div>


<br />
