<div class="hero-unit" style="width: 400px; margin: auto;">
    <center>
        <h2>Individual Logins</h2><br/>
              <div id="reqbutton" class="btn btn-success  btn-large">
                <img src="/assets/github-icon.png"> GitHub Login
              </div>
        <br/><br/>
        <h2>Enterprise Logins</h2><br />
            <a href="/bechtel"><img src="/assets/bechtellogo.png" /></a>
    </center>
</div>
<script type="text/javascript">
    $('#reqbutton').click(function() {
      window.location.replace("/auth/github");
    });
</script>